/*
This file is part of UrliZr.

UrliZr is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

UrliZr is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with UrliZr.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
  background-color: #252525;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Merienda One', cursive;
}

#urliz {
  width: 600px;
  margin: auto;
  text-align: center;
}

input {
  padding: 5px;
  font-size: 30px;
  text-shadow: 0px 1px 0px black;
  border-radius: 10px;
  border: 10px solid #333333;
  box-shadow: 0 0 5px black;
  color: white;
}

input:focus {  
  box-shadow: 0 0 5px red;
}

#id_url {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: #222222;

background: -moz-linear-gradient(top,  #222222 0%, #444444 100%);

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#444444));

background: -webkit-linear-gradient(top,  #222222 0%,#444444 100%);

background: -o-linear-gradient(top,  #222222 0%,#444444 100%);

background: -ms-linear-gradient(top,  #222222 0%,#444444 100%);

background: linear-gradient(top,  #222222 0%,#444444 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 );
}

#id_submit {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #333333;
}

ul {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  list-style: none;
  box-shadow: 0 0 5px black;
}

.errorlist {
  border: 3px solid #680000;
  background: #860000;
}

.result {
  border: 3px solid #006800;
  background: #008600;  
}

#head {
  font-size: 160px;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-family: 'Love Ya Like A Sister', cursive;
}
