<!DOCTYPE HTML>
<!--
This file is part of UrliZr.

UrliZr is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

UrliZr is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
  <head>
    <title>UrliZr</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div id="head">UrliZr</div>
    {% block content %}{% endblock content %}
  </body>
</html>
