{% load staticfiles %}
<!DOCTYPE HTML>
<!--
This file is part of UrliZr.

UrliZr is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

UrliZr is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with UrliZr.  If not, see <http://www.gnu.org/licenses/>.
-->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <title>UrliZr</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" />
    <!--[if lt IE 9]>
  		<link rel="stylesheet" href="{% static "css/ie.css" %}">
	  <![endif]-->

	  <!-- IE Fix for HTML5 Tags -->
	  <!--[if lt IE 9]>
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Molle:400italic|Merienda+One' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" />
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
  </head>
  <body>
    <div class="row">
      <div class="twelve columns" id="head">UrliZr</div>
    </div>
    <div class="row">
    {% block content %}{% endblock content %}
    </div>
    <div class="row">
      <div class="ten columns centered">
        <p class="copyright"><em>Powered by <a href="http://foundation.zurb.com/" title="Foundation">Foundation</a> Framework - Code by <a href="http://blog.luxifer.fr" title="LuXiFeR">LuXiFeR</a> - Fork me on <a href="https://github.com/luxifer/UrliZr" title="GitHub">GitHub</a></em></p>
      </div>
    </div>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.luxifer.fr/" : "http://piwik.luxifer.fr/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://piwik.luxifer.fr/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
  </body>
</html>
