{% extends "base.html" %}

{% block content %}
<div class="eight columns centered">
<form action="{% url home %}" method="post" class="nice">{% csrf_token %}
<div class="row">
  <div class="eight columns">
    {{ form.url }}
  </div>
  <div class="four columns">
    <input type="submit" value="Urliz" class="nice radius black button" />
  </div>
</div>
<div class="row">
  <div class="twelve columns centered">
    {% for error in form.url.errors %}
      <div class="alert-box error">
        {{ error|escape }}
        <a href="" class="close">&times;</a>
      </div>
    {% endfor %}
  </div>
</div>
</form>
{% block urliz %}{% endblock urliz %}
</div>
{% endblock content %}
